.image{
    position: relative;
  }

  .second-word{
    color:rgb(217, 188, 27);
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8vw
  }
  
  .athlete-stats{

    background: linear-gradient(to bottom, rgb(144,24,255), gray);
 
    border-radius: 1%;
  }
  
  .content:hover{
    opacity: 1;
  }



#random{
    background-image: url('../../../Photos/Opening-Picture.webp');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
    transition: 5s;
    animation: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }

  #distance{
    margin: 0 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    color: rgb(255, 221, 29);
    text-shadow: 2px 2px 4px rgb(144, 24, 255);
    font-family: 'Times New Roman', Times, serif;
  }

  #championsss {
    color: rgb(217, 188, 27);;
    text-shadow: 1px 1px 2px rgb(144, 24, 255);
    font-family: 'Times New Roman', Times, serif;
  }

  #personal-stats{
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }

  #events{
    color: rgb(217, 188, 27);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px rgba(187, 154, 33, 0.7);
  }

  #stats{
    margin-top:10px;
    color: rgb(217, 188, 27);
    text-shadow: 1px 1px 2px rgb(144, 24, 255);
    font-family: 'Times New Roman', Times, serif;
  }

  @keyframes animate{
    0%{
      background-image: url("../../../Photos/Jump\ Squad.webp");
    }
    25%{
      background-image: url("../../../Photos/Throw\ Squad.webp");
    }
    50%{
      background-image: url("../../../Photos/Distance.webp");
    }
    75%{
      background-image: url("../../../Photos/Racewalk.webp");
    }
    100%{
      background-image: url("../../../Photos/Opening-Picture.webp");
    }
  }