body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Photos/AdobeStock_449117631.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  height: 100vh;
  width: 100%;
}

/*HEADER*/
#nav-styles {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

/*Foot*/
.foot{
  color: rgb(144, 24, 255);
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.hover{
  width: 50px;
  transition: all 0.3s;
}

.hover:hover {
  transform: scale(1.15);
}

.foot-hover{
  text-decoration: none;
  color: rgb(144, 24, 255);
  font-size: 0.7vw;
  transition: all 0.3s;
}

#designed{
  color: rgb(144, 24, 255);
}

.foot-hover:hover{
  transform: scale(1.15);
  color: rgb(144,24,255);
  text-shadow: 2px 2px 4px rgb(255, 221, 29);
}

/*HOME PAGE*/

.membership-btn{
  background-color: rgb(217, 188, 27);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: large;
  width: 700px;
  height: 70px;
  border-radius: 10px;
  transition: all 0.3s;
}

.membership-btn:hover{
  color: rgb(144, 24, 255);
  transform: scale(1.15);
}

#get-membership{
  display: flex;
  justify-content: center;
  font-size: 2vw;
  
}

#open-section {
  margin: 0 0 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-image: url("./Photos/IMG_4245.JPG");
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#team-name {
  margin-top: auto;
  display: flex;
  font-size: 10vw;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

#scripture-abbr {
  color: white;
  margin-top: auto;
  padding-left: 1%;
  font-family: "Times New Roman", Times, serif;
  font-size: 3vw;
}

#champions {
  margin-top: 50px;
  color: rgb(217, 188, 27);;
  text-shadow: 1px 1px 2px rgb(144, 24, 255);
  font-family: 'Times New Roman', Times, serif;
}

#build{
  color: rgb(255, 221, 29);
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgb(255, 221, 29);
  font-family: 'Times New Roman', Times, serif;
}

#words {
  font-size: 1.5vw;
  padding-left: 2%;
  color: rgb(144, 24, 255);
  font-family: 'Times New Roman', Times, serif;
}

#group-picture{
  width: 900px;
}

#wordss{
  font-size: 1.5vw;
  padding-left: 2%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

#building {
  font-family: "Times New Roman", Times, serif;
  background-image: url('./Photos/AdobeStock_449117631.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  height: 100%;
  width: 100%;
}

#container {
  height: 200px;
}

#picture-format {
  margin-top: 2%;
}

#jamison {
  width: 500px;
}

#thomas {
  width: 500px;
}

#sage {
  width: 500px;
}

#second{
  background-color: rgb(237, 237, 235);
}

#join-button{
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

#building-youth{
  background-color: rgba(143, 24, 255, 0.507);
}


/*History Page*/
#test{
 width: 900px;
 height: 600px;
 object-fit: cover;
}

/*I don't like how close the headers are to the edge of the page so I'm going to alter the padding*/
#championss{
  margin-top: 50px;
  padding-left: 2%;
  color: rgb(217, 188, 27);;
  text-shadow: 1px 1px 2px rgb(144, 24, 255);
  font-family: 'Times New Roman', Times, serif;
}

#purp-back{
  background-image: url('./Photos/AdobeStock_449117631.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  height: 100%;
  width: 100%;
  color: white;
}

/*Portal Page*/
.second-word{
  color:rgb(217, 188, 27);
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8vw

}

.listed-one{
  display: inline-block;
  padding-right: 2px;
  transition: 0.3s;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

.listed-one{
  display: inline-block;
  padding-right: 2px;
  transition: 0.3s;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.listed-one:hover{
  transform: scale(1.03);
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.7);
}

.listed-two{
  display: inline-block;
  padding-right: 2px;
}
.listed-three{
  display: inline-block;
  padding-right: 2px;
  transition: 0.3s;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.listed-three:hover{
  transform: scale(1.03);
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.7);
}
.listed-four{
  display: inline-block;
  padding-right: 2px;

}
.listed-five{
  display: inline-block;
  padding-right: 2px;
  transition: 0.3s;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.listed-five:hover{
  transform: scale(1.03);
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.7);
}
.listed-six{
  display: inline-block;
  padding-right: 2px;

}
.listed-seven{
  display: inline-block;
  padding-right: 2px;
  transition: 0.3s;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.listed-seven:hover{
  transform: scale(1.03);
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.7);
}
.listed-eight{
  display: inline-block;
  padding-right: 2px;

}
.listed-nine{
  display: inline-block;
  transition: 0.3s;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.listed-nine:hover{
  transform: scale(1.03);
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.7);
}

.sections{
  color: rgb(144, 24, 255);
  text-decoration: none;
}

#shift{
  padding-left: 0;
}

#championsss {
  margin-top: 50px;
  color: rgb(217, 188, 27);;
  text-shadow: 1px 1px 2px rgb(144, 24, 255);
  font-family: 'Times New Roman', Times, serif;
  padding-left: 1%;
}

#distance{
  margin: 0 0 0 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('./Photos/Opening-Picture.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  z-index: -10;
  color: rgb(255, 221, 29);
  text-shadow: 2px 2px 4px rgb(144, 24, 255);
  font-family: 'Times New Roman', Times, serif;
  transition: 5s;

  animation: animate;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes animate{
  0%{
    background-image: url("./Photos/Jump\ Squad.webp");
  }
  25%{
    background-image: url("./Photos/Throw\ Squad.webp");
  }
  50%{
    background-image: url("./Photos/Distance.webp");
  }
  75%{
    background-image: url("./Photos/Racewalk.webp");
  }
  100%{
    background-image: url("./Photos/Opening-Picture.webp");
  }
}
