body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Photos/AdobeStock_449117631.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  height: 100vh;
  width: 100%;
}

/*HEADER*/
#nav-styles {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

/*Foot*/
.foot{
  color: rgb(144, 24, 255);
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.hover{
  width: 50px;
  transition: all 0.3s;
}

.hover:hover {
  transform: scale(1.15);
}

.foot-hover{
  text-decoration: none;
  color: rgb(144, 24, 255);
  font-size: 0.7vw;
  transition: all 0.3s;
}

#designed{
  color: rgb(144, 24, 255);
}

.foot-hover:hover{
  transform: scale(1.15);
  color: rgb(144,24,255);
  text-shadow: 2px 2px 4px rgb(255, 221, 29);
}

/*Store*/
#product-background{
  background-color: rgb(246,246,246);
}

#catchy{
  margin:auto;
}
